/* Estilos para el main */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}

/* Estilos para el lado derecho */
.registerSide {
    background-color: #f9f9f9;
    padding: 20px;
}

/* Estilos para el formulario */
form {
    display: grid;
    grid-gap: 20px;
}

input, button {
    padding: 5px;
}

button {
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    width: calc(50% - 5px);
    margin: auto;
}
button:hover {
    background-color: #555;
}

/* *MEDIA QUERIES* */
/* Consulta de medios para cambiar a una sola columna en pantallas más pequeñas */
@media screen and (min-width: 768px) {
    form {
        grid-template-columns: 1fr 1fr; /* Dos columnas en pantallas más grandes */
    }
    
}
