.registerSide {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 0;
}

/* *FORMULARIO* */
form {
    display: grid;
    grid-gap: 20px;
}

.banner__titulo {
    width: 100%;
    margin: 15px auto 25px;
    text-align: center;
}

.formulario__campo {
    border: none;
    width: 100%;
    display: flex;

    flex-direction: column;
}
.formulario__campo select {
    width: 95%;
    font-size: 13px;
    border: none;
    color: #6f6e6e;
    padding: 1em;
}
.formulario__campo select,
.formulario__campo input {
    margin-right: 40px;
    margin-left: 25px;
}
.campo__etiqueta {
    font-weight: 500;
    line-height: 20px;
    margin-left: 25px;
    font-size: 12px;
    color: blue
}
.campo__completo {
    display: block;
    width: 90%;
    padding: 1em;
    font-size: 13px;
    border: none;
}

.formulario__botones {
    display: flex;
    justify-content: center;
}

.formulario__boton {
    display: flex;
    justify-content:center;
    background-color: blue;
    display: block;
    border: none;
    padding: 1em 4em;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    color:white;
    cursor: pointer;
    transition: all .3s ease;
}

.formulario__boton:hover {
    background-color: #006eff;
}

#eliminar {
    background-color: red;
}

#eliminar:hover {
    background-color: #f75252;
}

.mensaje-error {
    display: block;
    margin-top: 5px;
    font-weight: 400;
    font-style: italic;
    font-size: .925rem;
    color: red;
}


/* *MEDIA QUERIES* */
/* Consulta de medios para cambiar a una sola columna en pantallas más pequeñas */
@media screen and (min-width: 768px) {
    form {
        grid-template-columns: 1fr 1fr; /* Dos columnas en pantallas más grandes */
    }
    
}