.registerSide {
    background: var(--cor-background);
    padding: 20px;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* *FORMULARIO* */
form {
    display: grid;
    grid-gap: 20px;
}

.banner__titulo {
    width: 100%;
    margin: 15px auto 25px;
    text-align: center;
}

.formulario__campo {
    border: none;
    width: 95%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* Estilo adicional para el último campo para evitar espacio extra debajo del formulario */
.formulario__campo:last-child {
    margin-bottom: 0;
}

/* Agrega un estilo de borde cuando se pasa el cursor sobre el campo */
.campo__completo:hover {
    border: 1px solid var(--cor-text-border);
    box-shadow: none; 
}

.formulario__campo select {
    width: 100%;
    font-size: 13px;
    border: none;
    color: var(--cor-de-text-form);
    padding: 1em;
    margin-right: 10px; 
}
.formulario__campo select,
.formulario__campo input {
    margin-right: 10px;
}
.campo__etiqueta {
    font-weight: 500;
    line-height: 20px;
    font-size: 12px;
    color: var(--cor-text-border)

}
.campo__completo {
    display: block;
    width: 94%;
    padding: 1em;
    font-size: 13px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
}
.campo__completo:hover {
    border: 1px solid var(--cor-text-border);
}

.formulario__botones {
    display: flex;
    justify-content: center;
}

.formulario__boton {
    background: var(--cor-de-first-gradient);
    display: block;
    border: none;
    padding: 1em 4em;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    color:var(--cor-de-second-text);
    cursor: pointer;
    transition: all .3s ease;
}

.formulario__boton:hover {
    background: var(--cor-de-second-gradient);
}

#eliminar {
    background: var(--cor-de-third-gradient);
}

#eliminar:hover {
    background: var(--cor-de-fourth-gradient);
}

.mensaje-error {
    display: block;
    margin-top: 5px;
    font-weight: 400;
    font-style: italic;
    font-size: .925rem;
    color: var(--cor-de-third-text);
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    form {
        grid-template-columns: 1fr 1fr; /* Dos columnas en pantallas más grandes */
    }
    
}

/* Media query para celulares con ancho mínimo de 360px */
@media only screen and (max-width: 768px) and (min-width: 375px) {
    .grid-container {
        grid-template-columns: 1fr; /* Cambiar a disposición de una sola columna */
    }
    .principal__formulario {
        width: 90%;
    }
    /* Ajustar el ancho del formulario para que no desborde */
    .formulario__campo {
        width: 100%;
    }

    .campo__completo {
        width: 90%;
    }
}

@media only screen and (max-width: 375px) and (min-width: 360px) {
    .registerSide {
        margin-right: 10px;
        width: 80%;
    }
}

@media screen and (max-width: 360px) {
    .registerSide {
        margin-right: 10px;
        width: 75%;
    }
    .campo__completo {
        width: 90%;
    }
}
